h1{ 
    background-color: rgb(235, 245, 215);
    border: 2px solid rgb(45, 54, 136);
    border-radius: 5px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 3px rgb(122, 117, 117);
}
body{
    background-image:url(65b92b16ea811.jpg);
    background-repeat: no-repeat;
    background-size: 100% 150%; 
}
h2{  color: rgb(13, 55, 92);
     font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 2%;
    top: 20px;
    border: 2px solid rgb(22, 87, 87);
    position: relative;
    background-color:  rgb(206, 243, 241);
    width: 250px;
    height: 34px;
    left: 15%;
    text-shadow: 2px 2px 2px rgb(89, 94, 89);
}
.date{
    position: relative;
    left:60%;
    top: 30px;
    color: white;
    font-size: x-large;  
}
.des{
    color: white;
    font-size: 25px;
    position: relative;
    left: 30px;
    top: -20px;
}
.column{
    position: relative;
    left: 30px;
    top: -60px;
}
.loc{
    color: rgb(23, 23, 87);
    position: relative;
    left: 50%;
    top: 385px;
    bottom: 10px;
    font-size: x-large;
    background-color:rgb(230, 215, 215);
    width: 500px;
    padding-left: 6px;
    border: 2px solid blue;
    text-shadow: 1px 1px 1px rgb(44, 40, 40);
}
* {
    box-sizing: border-box;
}
.row{
 float: left;
 width: 35%;
 padding: 40px;
}
.column::after{
content:"";
display: table;
}
